/************************************
 * User style should be added below *
 ************************************/

/* e.g. */
#uidHeader {
    text-align:center;
}
#uidNavigation {
    width:20%;
    float:right;
    border-style: solid;
    border-left-width: 1px;
    padding-left: 5px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
}
#uidPage {
    width:80%;
}
#uidFooter {
    text-align:center;
}

/************************************
 * User style should be added above *
 ************************************/
